body{
    background-color: pink;
}

h1 {
    background-color: yellow;
    border: 10px solid red; /* Fixed */
    padding: 10px;
    text-align: center;
}

button {
    background-color: red;
    color: white;
}

.choices {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    /*border: 10px salmon solid;*/
}
.power{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 320px;
    border-color: red;
    border: 5px black solid;
    border-radius: 100px;
    background-color: chocolate;
    cursor: pointer;
    text-decoration: underline;
}
.power:hover{
    color: darkblue;
}

.move-img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 10px;
}

.move-img:hover {
    transform: scale(1.15);
}
